<%- include('header.ejs') %>
<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item"><a href="/recept.html">Krumplis tészta</a></li>
        <li class="list-group-item"><a href="/recept.html">Rétes</a></li>
    </ul>
</div>
<%- include('footer.ejs') %>